$colors: (
  backgroundColor: #162229,
  dark: #080b11,
  textPrimary: #9ba8b8,
  textLight: #bcd2e8,
  textMedium: #656b72,
  menuPrimary: #3c5766,
  buttonPrimary: #2f5f5c,
  danger: #ac1a21,
  success: #2d6a2d,
  chatMessagePrivate: pink,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
